version: '3.1'

services: 
    db: 
        image: postgres
        volumes:
          #Data is persistant between runs on db-data folder
          - ./db-data:/var/lib/postgresql/data 
         #volumes:
         # - pgdata:/var/lib/postgresql/data
        environment: 
            POSTGRES_USER: admin
            POSTGRES_PASSWORD: 1515
            POSTGRES_DB: taxi

    adminer:
        image: adminer
        restart: always
        ports:
          - 8081:8080
    taxi:
        depends_on:
          - db
        image: vosmushko/taxi:car3
        restart: always
        ports:
          - "8080:80"
        